.inputBox {
  position: relative;
  color: white;
}
.inputList {
  width: 400px;
  min-height: 50px;
  max-height: 600px;
  background: rgb(54, 50, 50);
  position: absolute;
  flex-direction: column;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 4px 0;
  font-family: "Montserrat";
  overflow-y: auto;
}
.inputSelect:hover {
  background: rgb(77, 72, 72);
  transition: 0.5s;
}
.inputListActive {
  display: flex;
  animation-name: activeInput;
  animation-duration: 0.5s;
}
.inputListHidden {
  display: none;
}
@keyframes activeInput {
  0% {
    transform: translateY(15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
